{% extends "base.html" %}
{% load static%}


{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Folio Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <link href="{% static 'assets/vendor/hover/hover.min.css' %}" rel="stylesheet">


  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <div class="fixed-bottom navbar-expand-lg navbar-dark">
    <div class="d-flex justify-content-center ">

      <a class="btn btn-secondary button navbar-toggler  btn-xl text-uppercase js-scroll-trigger pl-10 pr-10"
        href="{% url 'contact'  %}">Hemen Bİlgİ Al</a>
      </a>
    </div>
  </div>

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1> <span class="typed"></span></h1>
        <p class="typed-items" data-typed-person="Gayrİmenkulde; Şansınız Değİl SEÇİMLERİNİZ Hayatınıza Yön VERİR
        "> </p>
        <p class="display-1  big lead">Daİma Bİr Adım Önde Olmak İçİn Benİ Arayın…</p>
        <p>Gayrimenkul Yatırım Uzmanı ve Emlak Danışmanı</p>
      </div>

    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-7 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{% static 'assets/img/hakantak-2.jpeg2000' %}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="about-descr">


              <p class="p-heading">HAKAN TAK İLE TANIŞIN; </p>
              <p class="separator">En güncel satış, pazarlama tekniklerini kullanmasını çok iyi bilen Hakan, Portföyüne
                aldığı her mülkü özenle yaptığı reklam çalışmaları ve uzun yıllar sonucu oluşturduğu yatırımcılarına
                tanıtarak hızlı ve kesin sonuç almaktadır.</p>

              <p class="separator"> Hakan‘ın, müşterilerini kurdukları gayrimenkul hayallerine %100 ulaştırma tutkusunu
                iş ve müzakere tecrübesiyle yüksek rakamlı veya küçük yatırımların sorunsuz sonuçlanmasın da, yıllardır
                emlak sektöründe olmasının ve sayısız müzakerede bulunmasının etkisi çok büyüktür. </p>

              <p class="separator"> Bir mülkün pazarlanmasını en üst seviyeye çıkarmak için para ve zaman harcayan
                Hakan, o nu pazarlanabilir bir ürün haline getirmek için yenilikçi teknolojinin yanı sıra dijital ve
                sosyal medya, emlak platformları ve uluslararası birçok ağdan faydalanmaktadır.

              </p>
            </div>

          </div>


          <div class="col-lg-10  col-md-4">
            <div class="about-descr">

              <p class="separator"> Hakan, yatırımcının bir mülke ilgi duymasını sağlamanın en iyi yolunun onu dünya
                standartlarında bir çalışma ile güncel fikirleri takip ederek en iyi reklam çalışmalarını
                oluşturabilecek bilgi, yetenek, kaynak ve tecrübeye sahip bir yapıyla pazara çıkarmanın en doğrusu
                olduğuna inanıyor. Şüphesiz ki iş ahlakı, aralıksız hizmet verme tutkusu ve profesyonel hizmet sunması
                Hakan‘ın başarısının ürünü olmuştur. </p>
              <p class="separator"> Birçok emlakçının kendini eğitim, seminer ve kitaplarla çok iyi ‘’eğittiğini’’ ancak
                aldıkları bilgilerle hiç bir şey yapmadıklarını söyleyen Hakan, gayrimenkul danışmanlarının birçoğuna da
                bilgi ve tecrübesi sayesinde zaman içinde koçluk yapmıştır. </p>

            </div>
          </div>

          <div class="col-lg-10">
            <div class="about-descr">
              <p class="separator"> Arsa, arazi yatırımı, işyeri kiralama, satma aynı zamanda devretme konusunda uzman
                olan Hakan, pazarladığı projeler ile yatırımcılarını hayallerindeki daire, residence ve iş yerleri ile
                senelerdir buluşturmakta. Sürdürülebilir başarının çok çalışmaktan ve daima kusursuz hizmet verme
                çabasından kaynaklandığını dile getirir. </p>
              <p class="separator"> Hakan, İstanbul ‘da uzun yıllar iş hayatının içinde olmanın ve son 15 yılını emlak
                sektöründe geçirmenin tecrübesiyle talep edilen gayrimenkulü ayırt etmeden satın almak ve ya satmak
                isteyen müşterisine kesintisiz iletişim ile hizmet verdiğini ve daima doğru yönlendirmelerle yıllarıdır
                müşterilerinin güvenini kazandı. Bunun karşılığında ve öz verili çalışmaları sayesinde sayısız bina,
                plaza, ofis, fabrika, lüks konut, daire, iş yeri ve arsa pazarlamanın verdiği tecrübesi ile konusunda
                çok bilgili, donanımlı paha biçilmez bir danışman ve lider olduğunu kanıtladı. Bu geleneğini tanıştığı
                her yeni müşterisi ve aldığı her yeni mülkte gururla sürdürüyor.

              </p>
              <p class="separator"> Yorulmak bilmeyen iş ahlakı sayesinde 1998 yılında başlayan iş hayatına, 2005
                yılından itibaren yeni bir enerji ile emlak sektöründe hizmet vermeye devam eden Hakan, eşsiz bir
                pazarlama ve birinci sınıf hizmetler sunar. Kurduğu pazarlama ağı ve başarılı gayrimenkul danışmanını
                örnekleyen yapısıyla sektörde ki birçok alıcı ve satıcıya katkıda bulunmuştur. Hakan müşterilerinin
                hayal ettiği yatırımları ustaca yöntemler ve analizlerle gerçeğe çevirerek emlak pazarında alıcı ve
                satıcıya kazandıran gayrimenkul danışmanı olmayı bilmiştir. ’Misyonum dürüstlük ve profesyonelliği en
                üst düzeyde korurken gayrimenkul deneyiminizi mümkün olan düşük maliyete getirmektir.’

              </p>
            </div>
          </div>


        </div>
      </div>
    </div><!-- End About Section -->







</body>

</html>

{% endblock body %}